header { 

    margin-bottom: 50px;

}

@media  screen and (max-width: 767px) {

    header { 
        margin-bottom: 0px;
    }

    .row { 
        display: grid;
        grid-template-columns:repeat(1, 100%)
    }

    .col-3 { 

        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(1, 100%);

    }

    .card h4, .card h5 {

        text-align: center;
    }

    .card a {
        
        width: 100%;

    }

    footer { 
        margin-top: 30px;
    }
    
}

@media screen and (min-width: 768px ) and (max-width: 1118px ) {


    header { 
        margin-bottom: 0px;
    }



    .row {

        display: grid;
        grid-template-columns: repeat(2, 50%);


    }

    .col-3 { 
        
        width: 100%;
       display: grid;
       grid-template-columns:repeat(2, 100%) ;
       margin-top: 30px;
       
    }

    footer {
        margin-top: 30px;
    }

}

@media screen and (min-width: 1119px) { 

    footer { 
        margin-top: 30px;
    }
    
}